@charset "UTF-8";
/* ANIMACIONES */
.animacion__aparecer, .animacion__aparecer--1s, .animacion__aparecer--2s, .animacion__aparecer--3s, .animacion__aparecer--4s, .animacion__aparecer--5s, .animacion__aparecer--6s, .animacion__aparecer--7s, .animacion__aparecer--8s, .animacion__aparecer--9s {
  animation-name: aparecer;
  animation-iteration-count: 1; }

.animacion__aparecer--1s {
  animation-duration: 1s; }

.animacion__aparecer--2s {
  animation-duration: 2s; }

.animacion__aparecer--3s {
  animation-duration: 3s; }

.animacion__aparecer--4s {
  animation-duration: 4s; }

.animacion__aparecer--5s {
  animation-duration: 5s; }

.animacion__aparecer--6s {
  animation-duration: 6s; }

.animacion__aparecer--7s {
  animation-duration: 7s; }

.animacion__aparecer--8s {
  animation-duration: 8s; }

.animacion__aparecer--9s {
  animation-duration: 9s; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

@media (min-width: 1024px) {
  /*animaciones solo para desktop*/
  .transicion__scaleUp:hover, .transicion__scaleUp--1:hover, .transicion__scaleUp--nav:hover, .transicion__scaleUp--2:hover, .transicion__scaleUp--3:hover {
    transform: scale(1.2, 1.2); }
  .transicion__scaleUp--1, .transicion__scaleUp--nav {
    transition: all 0.5s; }
  .transicion__scaleUp--2 {
    transition: all 1s; }
  .transicion__scaleUp--3 {
    transition: all 1.5s; }
  .transicion__scaleUp--nav {
    margin: 10px; }
  .transicion__rotate:hover, .transicion__rotate--1:hover, .transicion__rotate--2:hover, .transicion__rotate--3:hover {
    transform: rotate(5deg); }
  .transicion__rotate--1 {
    transition: all 0.5s; }
  .transicion__rotate--2 {
    transition: all 1s; }
  .transicion__rotate--3 {
    transition: all 1.5s; }
  .banner .banner__imgMarca img {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear; }
  @keyframes rotate {
    0% {
      transform: rotate(0deg); }
    25% {
      transform: rotate(2deg); }
    50% {
      transform: rotate(0deg); }
    75% {
      transform: rotate(-2deg); }
    100% {
      transform: rotate(0deg); } } }

.secProductos, .secProductos__cards, .secRelaciones__partners ul, .formulario, .introSeccion, .flex--right, .flex--left {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }

/*CLASES*/
.bg--dark1 {
  background-color: #1A4F64;
  color: white; }

.bg--dark2 {
  background-color: #0D3A51;
  color: white; }

.bg--dark3 {
  background-color: #012A44;
  color: white; }

.bg--dark4 {
  background-color: #00223B;
  color: white; }

.bg--dark5 {
  background-color: black;
  color: white; }

.bg--light1 {
  background-color: #089E93; }

.bg--light2 {
  background-color: #09BFB3; }

.bg--light3 {
  background-color: #3FDDD3; }

.bg--light4 {
  background-color: #5CEFE7; }

.bg--light5 {
  background-color: white; }

.texto--subrayado {
  text-decoration: underline; }

.texto--cursiva {
  font-style: italic; }

.texto--negrita {
  font-weight: bold; }

.texto--mayus {
  text-transform: uppercase; }

.texto--centrado {
  text-align: center; }

.border--negro {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 5px; }

.border--redondeado {
  border-radius: 1rem; }

.lista--sinViñetas {
  list-style-type: none; }

.padding10 {
  padding: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Maven Pro', sans-serif;
  text-align: center; }

body {
  overflow-x: hidden; }

img {
  width: 90%; }

.mainBodyIndex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100vw; }

article {
  font-family: 'Cormorant Garamond', serif;
  text-align: justify; }

section {
  width: 100%; }

h1 {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 3rem; }

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; }

input {
  margin: 2px;
  border-radius: 5px; }

header {
  width: 100vw;
  font-size: 90%; }

.logo {
  padding: 4px;
  width: 300px; }

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style-type: none;
  background-color: #012A44;
  align-items: center;
  height: 60px;
  margin: 0px;
  padding-left: 0; }
  nav ul ul {
    display: none;
    position: absolute;
    top: 28px;
    color: #012A44; }

nav a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 4px; }
  nav a:hover {
    color: #012A44;
    background-color: white;
    padding: 4px; }

.menu .manu__pagina {
  font-style: normal; }

.menu .menu__pagina--active {
  color: #3FDDD3; }

/* ASIDE */
.banner {
  color: white;
  padding: 10px;
  padding-right: 20px;
  background-image: radial-gradient(#0D3A51, black);
  text-align: center; }
  .banner * {
    padding-bottom: 5px; }
  .banner img {
    border-radius: 1rem; }
  .banner .banner__imgMarca {
    display: inline-block;
    width: 80%;
    border-radius: 1rem; }
    .banner .banner__imgMarca img {
      width: 30%;
      border-radius: 5px; }

footer {
  background-color: #00223B;
  color: white;
  width: 100%; }
  footer p {
    margin: 0;
    padding: 0; }

/* SECCION BIENVENIDA INDEX */
.bienvenida {
  width: auto;
  height: 100%;
  background-image: url("../images/bienvenida_360.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #00223B; }

.bienvenida__titulo {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-style: italic; }

.bienvenida__foto {
  position: relative;
  margin: 0 2rem; }

.bienvenida__foto::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 1rem; }

.bienvenida__p {
  position: relative;
  font-size: 1.1rem; }

/*SECCION PRODUCTOS INDEX*/
.secProductos img {
  width: 50%; }

.secProductos__p {
  width: 90%; }

.secProductos__cards {
  margin: 10px;
  padding: 10px;
  width: 90%; }
  .secProductos__cards h3 {
    width: 100%;
    text-align: center; }
  .secProductos__cards p {
    text-align: center;
    width: 90%; }

/* SECCION ESTANDAR INDEX */
.secSTD {
  padding: 10px; }

.secSTD__img {
  width: 90%;
  margin: 20px;
  border: 5px solid white;
  border-radius: 1rem; }
  .secSTD__img img {
    width: 100%; }

/* SECCION RELACIONES INDEX */
.secRelaciones__nuestraRed img {
  width: 100px; }

.secRelaciones__partners ul li {
  display: inline-block;
  margin: 5px; }

.secRelaciones__prensa {
  display: none;
  flex-flow: row wrap;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-radius: 4px;
  padding: 15px;
  margin: 30px; }

.secRelaciones__fotoPrensa {
  width: 90%;
  border-style: ridge;
  border-width: 5px; }

/* SECCION CONTACTO INDEX */
.formulario {
  flex-direction: column; }

.formulario__div {
  width: 70%; }

.consulta__caja {
  width: 100%;
  border-radius: 5px; }

.mainBodyProductos {
  background-image: url(../images/bg1.png); }

.secTitulo {
  width: 100%; }

.introSeccion {
  padding-left: 10px;
  text-align: center; }
  .introSeccion .introProductos {
    width: 100%; }
  .introSeccion .introSeccion__titulo {
    width: 100%; }
    .introSeccion .introSeccion__titulo .introSeccion__subtitulo {
      width: 100%;
      text-align: center; }
    .introSeccion .introSeccion__titulo .introSeccion__p {
      text-align: center; }
  .introSeccion video {
    width: 100%;
    border-radius: 1rem; }
  .introSeccion .introSeccion__imagenUno {
    width: 40%;
    margin: 10px;
    border-radius: 15px; }

.mainProductos {
  width: 100%;
  padding: 10%; }
  .mainProductos .mainProductos__productos * {
    padding: 10px; }
  .mainProductos .mainProductos__productos img {
    width: 160px; }
  .mainProductos .mainProductos__productos h4 {
    color: black;
    width: 15rem;
    font-size: 1.5rem; }
  .mainProductos .mainProductos__productos p {
    width: 90%; }

.flex--left {
  flex-flow: row-reverse wrap; }

.mainBodySTD {
  background-image: url(../images/bg1.png); }

.secGaleriaSTD {
  justify-content: center; }

.secGaleriaSTD__galeria {
  list-style-type: none; }
  .secGaleriaSTD__galeria h5 {
    padding-top: 1rem; }
  .secGaleriaSTD__galeria li {
    margin: 0.5rem;
    justify-self: center;
    width: 360px; }

.elCarousel {
  width: 500px;
  height: 50vh;
  align-self: center;
  margin: 1rem; }

.elCarousel__img {
  width: 500px;
  height: 50vh;
  border-radius: 1rem; }

/* HTML RELACIONES */
.notas article {
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem 0; }
  .notas article div {
    text-align: center; }
  .notas article a {
    text-decoration: none;
    color: white;
    background-color: #1A4F64;
    border-radius: 0.5rem;
    padding: 0.5em; }

.notas .align-v-mid {
  align-self: center; }

.notas img {
  border: 1px solid black;
  border-radius: 1rem; }

.introSeccion__subtitulo {
  width: 100%;
  text-align: center;
  align-self: center; }

.partners ul {
  display: inline-block; }

.partners li {
  display: inline-block;
  margin: 0.5rem; }

/* HTML CONTACTO */
.contacto__form {
  border: 1px solid black;
  border-radius: 1rem; }

.contacto__enviaCV {
  box-shadow: 0 0.5rem 1rem gray; }
  .contacto__enviaCV .btn {
    transform: scale(0.75, 0.75);
    background-color: white;
    color: black;
    justify-self: flex-end; }
    .contacto__enviaCV .btn:hover {
      background-color: gray;
      color: white; }

@media (min-width: 600px) and (max-width: 1023px) {
  .mainBodyIndex {
    display: grid;
    grid-template-areas: "header header header" "bienvenida bienvenida bienvenida" "productos productos productos" "estandar estandar news" "relaciones relaciones news" "contacto contacto contacto" "footer footer footer"; }
  header {
    grid-area: header; }
  .bienvenida {
    grid-area: bienvenida; }
  .tablaIndex {
    grid-area: tabla; }
  .secProductos {
    grid-area: productos; }
  .secSTD {
    grid-area: estandar; }
  aside {
    grid-area: news;
    align-self: stretch; }
  .secRelaciones {
    grid-area: relaciones;
    height: 650px; }
  .contacto {
    grid-area: contacto; }
  footer {
    grid-area: footer; }
  .secProductos__cards {
    width: 40%; }
  .bienvenida {
    height: 500px;
    background-image: url("../images/bienvenida_768.jpg"); }
  .bienvenida__foto {
    transform: translate(0, 200px); } }

/*Cierra media query for tablet*/
@media (min-width: 1024px) {
  .mainBodyIndex {
    display: grid;
    grid-template-areas: "header header header" "bienvenida bienvenida bienvenida" "tabla tabla news" "productos productos news" "estandar estandar news" "relaciones relaciones news" "contacto contacto contacto" "footer footer footer";
    grid-template-columns: 4fr 4fr 2fr; }
  header {
    grid-area: header; }
  .bienvenida {
    grid-area: bienvenida; }
    .bienvenida .bienvenida__p {
      text-align: center; }
  .tablaIndex {
    grid-area: tabla; }
  .secProductos {
    grid-area: productos; }
  .secSTD {
    grid-area: estandar; }
  aside {
    grid-area: news;
    align-self: stretch; }
  .secRelaciones {
    grid-area: relaciones; }
  .contacto {
    grid-area: contacto; }
  footer {
    grid-area: footer; }
  html {
    text-align: left; }
  nav ul {
    justify-content: flex-end;
    padding: 20px; }
    nav ul ul {
      padding: 0; }
    nav ul li {
      background-color: #012A44;
      color: white;
      padding: 4px;
      font-weight: bold;
      position: relative; }
    nav ul li:hover ul {
      display: block; }
  h1 {
    text-align: center; }
  h3 {
    padding-left: 4px; }
  h4 {
    color: #00223B;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 4px; }
  h5 {
    color: #00223B; }
  .secRelaciones .secRelaciones__prensa {
    display: block; }
  footer {
    text-align: right;
    padding-right: 20px; }
  .bienvenida {
    height: 500px;
    background-image: url("../images/bienvenida_1024.jpg"); }
  .bienvenida__foto {
    position: relative;
    margin: 0 12rem; }
  .bienvenida__foto {
    transform: translate(0, 200px); }
  /*seccion STD 1024*/
  .secSTD {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .secSTD .secSTD__pSTD {
      width: 60%; }
    .secSTD .secSTD__img {
      margin: 2rem;
      width: 30%; }
      .secSTD .secSTD__img img {
        width: 100%; }
  /*seccion productos 1024*/
  .secProductos {
    padding-bottom: 20px; }
    .secProductos .secProductos__cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: space-around;
      margin: 20px;
      padding: 10px;
      width: 40%; }
  .secProductos__p {
    width: 90%; }
  /* HTML PRODUCTOS */
  .introSeccion .introProductos {
    width: 40%; }
  .mainProductos .mainProductos__productos p {
    width: 50%; }
  .banner {
    border-radius: 2rem;
    margin: 0.5rem 0; }
    .banner .banner__imgMarca {
      margin-top: 1rem;
      margin-bottom: 2rem; }
      .banner .banner__imgMarca img {
        border-radius: 15px;
        padding: 5px;
        width: 90%; } }

/*media query 1024 - ends*/
