.mainBodySTD{
    background-image: url(../images/bg1.png);
}

.secGaleriaSTD{
    justify-content: center;
}
.secGaleriaSTD__galeria{
    list-style-type: none;
    h5{
        padding-top: 1rem;
    }
    li{
        margin: 0.5rem;
        justify-self: center;
        width: 360px;
    }
}

.elCarousel{
    @include caja (500px, 50vh);
    align-self: center;
    margin: 1rem;
}
.elCarousel__img{
    @include caja (500px, 50vh);
    border-radius: 1rem;
}