
   /* HTML RELACIONES */
.notas{
	article{
		background-color: $light5;
		@include bordes;
		margin: 1rem 0;
		padding: 1rem 0;
		div{
			text-align: center;
		}
		a{
			text-decoration: none;
			color: $light5;
			background-color: $dark1;
			border-radius: 0.5rem;
			padding: 0.5em;
		}
	}
	.align-v-mid{
		align-self: center;
	}
	img{
		@include bordes;
	}
}

.introSeccion__subtitulo{
	width: 100%;
	text-align: center;
	align-self: center;
}
.partners{
	ul{
		display: inline-block;
	}
	li{
		display: inline-block;
		margin: 0.5rem;
	}
}

		/* HTML CONTACTO */
.contacto__form{
	@include bordes;
}
.contacto__enviaCV{
	box-shadow: 0 0.5rem 1rem gray;
	.btn{
		transform: scale(0.75,0.75);
		background-color: $light5;
		color: $dark5;
		justify-self: flex-end;
		
		&:hover{
			background-color: gray;
			color: $light5;
		}
	}
}
