// Variables
	// colores:
	$dark1: #1A4F64;
	$dark2: #0D3A51;
	$dark3: #012A44;
	$dark4: #00223B;
	$dark5: black;
	$light1: #089E93;
	$light2: #09BFB3;
	$light3: #3FDDD3;
	$light4: #5CEFE7;
	$light5: white;
	//Map 
	$colores--dark:(
	dark1: $dark1,
	dark2: $dark2,
	dark3: $dark3,
	dark4: $dark4,
	dark5: $dark5);
	$colores--light:(
	light1: $light1,
	light2: $light2,
	light3: $light3,
	light4: $light4,
	light5: $light5,
	);


